.custom-container {
    background: #40B491;
    color: white;
}

.inner-container {
    width: '30%';
}

.button-container {
    box-shadow: 0 5px 20px -5px black;
}

.button-container:hover {
	box-shadow: 0 10px 40px -10px black;
	transition: 0.5s;
    padding-right: 30px;
    padding-left: 30px;
}

.li-1:hover {
    box-shadow: 0 3px 10px -10px black;
    /* transition: 0.9s; */
    border-radius: 100px;

}