.custom-button {
    width: 50px;
    height: 40px;
    margin: 20px
}

.register-button {
    height: 50px;
    background-color: #40B491;
    outline: none;
    border-radius: 100px;
    border: none;
    color: black;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.register-button:hover {
    background-color: #2a7c64;
    color: white;
    transition: 0.7s;
}

.social-buttons {
    background: transparent;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
}

.social-buttons:hover {
    border: 2px solid #2a7c64;
    transition: 0.4s;
}

.loader {
    justify-content: top;
    align-items: center;
}

.navLink {
    color: #2a7c64;
}

.already {
    flex-direction: row;
    margin-bottom: 10px;
}